html,
body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
}

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #264342;
}

.nav .logo img {
    width: 250px;
    height: 40px;
    position: absolute;
    top: 17px;
    left: 2%;
}

.nav .logo img:hover {
    cursor: pointer;
}

.nav .links a:hover {
    color: #9B3047;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .nav .logo img {
        width: 180px;
        height: 30px;
        position: absolute;
        top: 25px;
        left: 35%;
    }
    .checkbtn {
        display: block;
    }
    .links {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e4eded;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        line-height: 60px;
    }
    .links a {
        display: block;
        font-size: 20px;
    }
    #check:checked~.links {
        left: 0;
    }
}
@media (max-width: 270px) {
  .nav .logo img{
    width: 130px;
    height: 20px;
    position: absolute;
    top: 30px;
    left: 35%;
  }
}
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 1vw;
    height: 110vh;
    background-color: #e4eded;
}

.bannerText h1 {
    color: #264342;
    font-size: 3vw;
    margin: 0 !important;
}

.bannerText h3 {
    margin: 6px !important;
    color: #264342;
    font-size: 2vw;
    line-height: 30px;
}

.bannerText h6 {
    color: #264342;
    font-size: 2vw;
    margin: 0 !important;
}

.banner img {
    width: 47vw;
}


/*banner responsive*/

@media only screen and (max-width: 1200px) {
    .bannerText h1 {
        font-size: 40px;
        ;
        margin: 0 !important;
    }
    .bannerText h3 {
        font-size: 20px;
    }
    .bannerText h6 {
        font-size: 20px;
    }
    .btn {
        margin: 0 auto;
    }
    .banner img {
        width: 62vw;
        text-align: left;
    }
}

@media only screen and (max-width: 800px) {
    .banner {
        flex-direction: column-reverse;
        height: 970px;
        align-items: center;
        justify-content: center;
        text-align: center
    }
    .bannerText h1 {
        font-size: 30px;
        margin: 0 !important;
    }
    .bannerText h3 {
        font-size: 25px;
    }
    .bannerText h6 {
        font-size: 20px;
    }
    .btn {
        margin: 0 auto;
    }
    .banner img {
        width: 62vw;
        margin-bottom: 20px;
    }
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #264342;
    display: inline-block;
    padding: 1vw 3vw;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

section#theproblem {
    padding-top: 70px;
    line-height: 1.5;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;

}

section#theproblem h2 {
    font-size: 2.5vw;
    color: #264342;
}

section#theproblem p {
    font-size: 1.5vw;
}

section#thesolution {
    padding-top: 70px;
    padding-bottom: 70px;
    line-height: 1.5;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #e4eded;

}

section#thesolution h3 {
    font-size: 2.5vw;
    color: #264342;
}

section#thesolution p {
    font-size: 1.5vw;
}

section#theapp {
    padding-top: 70px;
    line-height: 1.5;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

section#theapp h4 {
    font-size: 2.5vw;
    color: #264342;
}

section#theapp p {
    font-size: 1.5vw;
}

section#Contact {
    padding-top: 10px;
    line-height: 1;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #e4eded;

}

section#Contact h5 {
    font-size: 2.5vw;
    color: #264342;
}

section#Contact p {
    font-size: 1.5vw;
}

@media (max-width: 1300px) {
    section#theproblem h2 {
        font-size: 30px;
        flex-direction: column-reverse;
    }
    section#theproblem p {
        font-size: 25px;
    }
    section#thesolution h3 {
        font-size: 30px;
        flex-direction: column-reverse;
    }
    section#thesolution p {
        font-size: 25px;
    }
    section#theapp h4 {
        font-size: 30px;
        flex-direction: column-reverse;
    }
    section#theapp p {
        font-size: 25px;
    }
    section#Contact h5 {
        font-size: 30px;
        flex-direction: column-reverse;
    }
    section#Contact p {
        font-size: 25px;
    }
}

* {
    box-sizing: border-box;
}


/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #264348;
    color: white;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #264360;
}


/* Style the container/contact section */

.container {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    background-color: #e4eded;

}


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    font-size: 15px;
    color: #264348;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (min-width: 600px) {
    .column {
        padding-left: 25%;
        width: 75%;
    }
}

h5 {
    font-size: 120px;
    color: #264348;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #264348;
}

::placeholder {
    color: black;
    opacity: 1;
}

h5 {
    padding-top: 65px;
}

.appbilder img {
    width: 680px;
    margin-left: -200px;
    margin-right: -200px;
}

html {
    scroll-behavior: smooth;
}
footer {
  display: block;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}
footer .btn{
  background-color: #9B3047;
  padding: 1vw 4vw;

}
