html,
body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
}

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a {
    margin-right: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #264342;
}

.nav .logo img{
 width: 250px;
 height: 40px;
 position: absolute;
 top: 17px;
 left: 2%;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/food.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner.content {
    max-width: 900px;
    text-align: center;
}

.banner.content h2 {
    font-size: 5em;
    color: #fff;
}

.banner.content p {
    font-size: 1em;
    color: #fff;
}

#theproblem{
  margin-left: 15%;
  margin-right: 15%;
}

#thesolution{
  margin-left: 15%;
  margin-right: 15%;
}

#theapp{
  margin-left: 15%;
  margin-right: 15%;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #264342;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}
