html,
body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

* {
    text-decoration: none !important;
}

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav .links a {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #264342;
}

.nav .logo img {
    width: 250px;
    height: 40px;
    position: absolute;
    top: 17px;
    left: 2%;
}

.kunLogo {
    visibility: hidden;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 1vw;
    height: 110vh;
    background-color: #e4eded;
}

.bannerText h1 {
    color: #264342;
    font-size: 3vw;
    margin: 0 !important;
}

.bannerText h3 {
    margin: 6px !important;
    color: #264342;
    font-size: 2vw;
    line-height: 30px;
}

.banner img {
    width: 47vw;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #264342;
    display: inline-block;
    padding: 1vw 3vw;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

section#theproblem {
    padding-top: 70px;
    line-height: 1.5;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
section#theproblem h2{
  font-size: 2vw;
}
section#theproblem p{
  font-size: 1.5vw;
}

section#thesolution {
    padding-top: 70px;
    line-height: 1.5;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
section#thesolution h2{
  font-size: 2vw;
}
section#thesolution p{
  font-size: 1.5vw;
}

section#theapp {
    padding-top: 70px;
    line-height: 1.5;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
section#theapp h2{
  font-size: 2vw;
}
section#theapp p{
  font-size: 1.5vw;
}

section#Contact {
    padding-top: 70px;
    line-height: 1.5;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}
section#Contact h2{
  font-size: 2vw;
}
section#Contact p{
  font-size: 1.5vw;
}

* {
    box-sizing: border-box;
}


/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #264348;
    color: white;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #264360;
}


/* Style the container/contact section */

.container {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    font-size: 25px;
    color: #264348;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

h5 {
    font-size: 45px;
    color: #264348;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #264348;
}

::placeholder {
    color: black;
    opacity: 1;
}

h5 {
    padding-top: 65px;
}

.appbilder img{
width: 520px;
display: inline-block;
}



