
.nav{
display: inline;
width: 100%;
height: 100px;
background-color: blue;
text-decoration: none;
}

.nav p{
  text-decoration: none;
  font-size: 26;
}

.nav a{
  text-decoration: none;
  width: 20%;
}
